	<!-- Footer -->
	<footer class="bg3 p-t-20 p-b-32">
		<div class="container">			
			<div class="p-t-27">
				<div class="flex-c-m flex-w">
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-facebook"></i>
					</a>
	
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-instagram"></i>
					</a>
	
					<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
						<i class="fa fa-whatsapp"></i>
					</a>
				</div>				
			</div>
			<div class="p-t-20">				
				
				<p class="stext-107 cl6 txt-center">
					
				Copyright &copy;<script>document.write(new Date().getFullYear());</script>. 
				All rights reserved. 


				</p>
			</div>
		</div>
	</footer>