<div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-profile-tab"
tabindex="0">
<div class="row">
  <div class="col-md-12 mb-4">
    <div class="form-outline">
      <h3 class="text-capitalize">Change Password</h3>
    </div>
    <hr />
  </div>
</div>
<!-- change password -->
<form id="changePasswordForm" action="/user/change-password" method="POST">
  <div class="form-outline mb-4">
    <label for="currentPassword" class="form-label text-left">Current Password</label>
    <input name="currentPassword" type="password" class="form-control" id="currentPassword" required />
  </div>
  <div class="form-outline mb-4">
    <label for="newPassword" class="form-label text-left">New Password</label>
    <input name="newPassword" type="password" class="form-control" id="newPassword" required />
  </div>
  <div class="form-outline mb-4">
    <label for="confirmPassword" class="form-label text-left">Confirm Password</label>
    <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" required />
  </div>
  <div class="flex-c-m">
    <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
      Confirm
    </button>
  </div>
</form>
</div>