.nav-pills .nav-link{
    background: none;
    color: #333;
}
.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #ffffff;
    background: #413E65;
}
.table-shopping-cart .table_row {
    height: 130px;
}
.table-shopping-cart .table_row td.column-1 {
    padding-bottom: 20px;
}
.table-button {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
    color: #ffffff;
    background-color: #413E65;
    border-radius: 5px;
    padding: 7px 15px;
    font-weight: 100;
    text-decoration: none;
}
.table-button:hover {
    background-color: #222;
    color: #fff;
}
.delete-item {
    position: relative;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}
.address-card {
    position: relative;
    display: flex;
    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e2e9e1;
    border-radius: .25rem;
}
.table-shopping-cart .column-1 {
    padding-left: 25px;
}
.table-shopping-cart .column-5 {
    padding-right: 25px;
}
.address-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-v2 {
    position: sticky;
    z-index: 1;
}
.btn-primary {
    background-color: #413E65;
    border-radius: 23px;
    color: #ffffff;
    border: none;
}
.btn {
    border-radius: 23px;
}

.invalid-feedback {
    color: red;
    font-size: 14px;
}
.category-button {
    display: block;
    margin-bottom: 10px; /* Adjust margin as needed */
}


/*Image zoom */
.slideshow-items {
    width: 500px;
  }
  .slideshow-thumbnails {
    width: 100px;
  }
  #slideshow-items-container {
    display: inline-block;
    position: relative;
  }
  
  #lens {
    background-color: rgba(233, 233, 233, 0.4);
  }
  #lens,
  #result {
    position: absolute;
    display: none;
    z-index: 1;
  }
  .slideshow-items {
    display: none;
  }
  .slideshow-items.active {
    display: block;
  }
  .slideshow-thumbnails {
    opacity: 0.5;
  }
  .slideshow-thumbnails.active {
    opacity: 1;
  }
  #lens,
  .slideshow-items,
  .slideshow-thumbnails,
  #result {
    border: solid var(--light-grey-2) 1px;
  }
  

/* End Image zoom */

