
<section class="content-main mt-80 mb-80">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4">Admin Sign in</h4>
            <form  action="/admin/login" method="post">
                <div class="mb-3">
                    <input class="form-control" placeholder="Username or email" type="text" id="email" name="email">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <input class="form-control" placeholder="Password" type="password" id="password" name="password">
                </div> <!-- form-group// -->
                <div class="mb-3">
                    <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                    
                </div> <!-- form-group form-check .// -->
                <div class="mb-4">
                    <button type="submit" value="submit" class="btn btn-primary w-100"> Login </button>
                </div> <!-- form-group// -->
            </form>
           
            <p class="text-center mb-4">Don't have admin account? <a href="/admin/register">Sign up</a></p>
        </div>
    </div>
</section>
    
   
    
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('form');
            
            form.addEventListener('submit', function (event) {
                
                //prevent form submission
                event.preventDefault();
    
                //check if the form is valid
                if (!form.checkValidity()) {
                    return;
                }
                //custom validation for password length
                const password = document.getElementById('password');
                if (password.value.length < 8) {
                    password.setCustomValidity('password must be 8 characters long.');
                    password.reportValidity();
                    return;
                } else {
                    password.setCustomValidity('');//clear custom validity message
                }
                
    
                if (form.checkValidity()) {
            form.submit(); // Ensure this line submits the form
        }
    });
            // Add input event listeners to reset custom validity messages when the user corrects them
            document.querySelectorAll('input[type="password"]').forEach(function (input) {
                input.addEventListener('input', function () {
                    input.setCustomValidity('');
                });
            });
        })
    </script>