 <!-- Profile form-->

  <section id="tid-registration-form">
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="row gx-lg-5 justify-content-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form id="update_profile" action="/user/profile" method="POST">

                                <div class="row">

                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <h3 ><%- user.firstName + ' ' + user.lastName %></h3>
                                            <p>Update Profile</p>
                                        </div>
                                    </div>

                                </div>
  
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="firstName" class="form-label text-left">First Name</label>
                                            <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" value="<%- user.firstName %>" >
                                            <small></small>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label for="lastName" class="form-label text-left">Last Name</label>
                                            <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" value="<%- user.lastName %>">
                                            <small ></small>
                                        </div>
                                    </div>
                                </div>
  
                                <!-- Email input -->
                                <div class="form-outline mb-4">
                                    <label for="email" class="form-label text-left">Email</label>
                                    <input name="email" type="email" class="form-control" id="email" value="<%- user.email %>" placeholder="example@gmail.com" disabled>
                                    <small class="text-danger"></small>
                                </div>
  
                                
                               
  
                                <!-- Submit button -->
                                <div class="flex-c-m">
                                    <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                        Update
                                    </button>
                                </div>
  
                                
  
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>