<section>

    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="ltext-103 cl5 text-center mb-5">
                        Forgot Password
                    </h3>
                </div>
            </div>
            <div class="row gx-lg-5 justify-content-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="/forget-otp-verify" method="POST">

                                <div class="form-group mb-4">

                                    <input type="text" name="otp" id="otp" class="form-control">

                                </div>





                                <!-- Verify button -->
                                <div class="flex-c-m">
                                    <button type="submit"
                                        class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
                                        Verify
                                    </button>
                                </div>
                                
                                <div class="card-footer text-center my-3">
                                    <p class="lead" id="timer-class">request again in : <span id="timer" class="badge bg-warning"></span>
                                    </p>
                                    <button class="btn btn-info d-none" id="resend-btn">Resend OTP</button>
                                </div>



                            </form>
                            <div class="card-footer text-center my-3">
                                <p class="lead" id="timer-class">request again in : <span id="timer" class="badge bg-warning"></span>
                                </p>
                                <button class="btn btn-info d-none" id="resend-btn">Resend OTP</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



<script defer>
   
    const timer = (remaining) => {
        let min = Math.floor(remaining / 60)
        let sec = remaining % 60

        min = min < 10 ? "0" + min : min
        sec = sec < 10 ? "0" + sec : sec
        document.getElementById("timer").innerHTML = min + ":" + sec

        remaining -= 1
        if (remaining >= 0 && timerOn) {
            setTimeout(() => {
                timer(remaining)
            }, 1000)
            return
        }
        
        //timer need to 
        document.getElementById('timer-class').classList.add('d-none')
        document.getElementById('resend-btn').classList.remove('d-none')
    }
    timer(10)

    const resendBtn = document.getElementById('resend-btn')
    
    resendBtn.addEventListener('click', async () => {
        try {
            let response = await fetch('/resend-otp')
            console.log(response)
            if (!response.ok) {
                throw new Error(response.statusText)
            }
            let data = await response.json()
            console.log(data)
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message
                }).then(() => {
                    location.reload()
                })
            } else {
                throw new Error(data.message)
            }

        } catch (error) {
            console.error(error)
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message
            })
        }
    })
</script>