<section>
    
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="ltext-103 cl5 text-center mb-5">
                        Reset Password
                    </h3>
                </div>
            </div>
            <div class="row gx-lg-5 justify-content-center">
                
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="/resetPass" method="POST">
                               
                                
                                                
                                              <!-- Password input -->
                                              <div class="form-outline mb-4">

                                                <label for="pwd" class="form-label text-left">New Password</label>
                                                <input name="pwd" type="password" class="form-control" id="pwd"
                                                    required>
                                            </div>
                                            <div class="form-outline mb-4">
                                                <label for="pwdConf" class="form-label text-left">Confirm Password
                                                    </label>
                                                <input name="pwdConf" type="password" class="form-control"
                                                    id="pwdConf" required>
                                            </div>
                                                

                                                <!-- Verify button -->
                                                <div class="flex-c-m">
                                                    <button type="submit" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
                                                        Confirm
                                                    </button>
                                                </div>                                                   
                                                
                                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const form = document.querySelector('form');

        form.addEventListener('submit', function (event) {
            //prevent form submission
            event.preventDefault();

            //check if the form is valid
            if (!form.checkValidity()) {
                return;
            }
            //custom validation for password length
            const password = document.getElementById('pwd');
            if (password.value.length < 8) {
                password.setCustomValidity('password must be 8 characters long.');
                password.reportValidity();
                return;
            } else {
                password.setCustomValidity('');//clear custom validity message
            }
            //check if password match
            const pwdConf = document.getElementById('pwdConf');
            if (password.value !== pwdConf.value) {
                pwdConf.setCustomValidity('Password do not match');
                pwdConf.reportValidity();
                return;
            } else {
                pwdConf.setCustomValidity('');
            }

            //form is valid,
            form.submit();
        });

        // Add input event listeners to reset custom validity messages when the user corrects them
        document.querySelectorAll('input[type="password"]').forEach(function (input) {
            input.addEventListener('input', function () {
                input.setCustomValidity('');
            });
        });
    })
</script>