<style>
    .otp-field {
        flex-direction: row;
        column-gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .otp-field input {
        height: 45px;
        width: 42px;
        border-radius: 6px;
        outline: none;
        font-size: 1.125rem;
        text-align: center;
        border: 1px solid #ddd;
    }

    .otp-field input:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    }

    .otp-field input::-webkit-inner-spin-button,
    .otp-field input::-webkit-outer-spin-button {
        display: none;
    }

    .resend {
        font-size: 16px;
    }
</style>

<section>

    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="ltext-103 cl5 text-center mb-5">
                        Verify-OTP
                    </h3>
                </div>
            </div>
            <div class="row gx-lg-5 justify-content-center">

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                            <form action="/verifyOtp" method="POST">


                                <div class="form-group mb-4">

                                    <input type="text" name="otp" id="otp" class="form-control">

                                </div>

                                <!-- Verify button -->
                                <div class="my-3 flex-c-m" >
                                    <button type="submit"
                                        class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 ">
                                        Verify
                                    </button>
                                </div>

                            </form>

                            <div class="card-footer">
                                <p class="lead">request again in : <span id="timer"
                                        class="badge bg-warning"></span></p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>







<script defer>
    let timerOn = true
    const timer = (remaining) => {
        let min = Math.floor(remaining / 60)
        let sec = remaining % 60

        min = min < 10 ? "0" + min : min
        sec = sec < 10 ? "0" + sec : sec
        document.getElementById("timer").innerHTML = min + ":" + sec

        remaining -= 1
        if (remaining >= 0 && timerOn) {
            setTimeout(() => {
                timer(remaining)
            }, 1000)
            return
        }
        if (!timerOn) {
            return
        }
        document.getElementById('timer-class').classList.add('d-none')
        document.getElementById('resend-btn').classList.remove('d-none')
    }
    timer(20)

    const resendBtn = document.getElementById('resend-btn')
    resendBtn.addEventListener('click', async () => {
        try {
            let response = await fetch('/resend-otp')
            console.log(response)
            if (!response.ok) {
                throw new Error(response.statusText)
            }
            let data = await response.json()
            console.log(data)
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: data.message
                }).then(()=>{
                    location.reload()
                })
            }else{
                throw new Error(data.message)
            }

        } catch (error) {
            console.error(error)
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: error.message
            })
        }
    })
</script>


